
.np-child{
    height: 600px;
    width: 700px;
    background: white;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    float: left;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.intro{
    display: flex;
}

.intro img, .txt{
    width: 40%;
}

.txt{
    /* height: 700px;
    width: 700px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    /* background-image: url("assets/pic.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply; */
    color: black;
}
.me{
    float: left;
    margin: 15px;
    border-radius: 50%;
}
