


.intro{
    width: 100%;
    display: flex;
    
}

.txt{
    width: 60%;
    padding: 1rem;
}

.txt{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    color: black;
    
}
.txt h4{
    text-align: center;
}
.img-cont{
    
    width: 40%;
    object-fit: cover;
    display: flex;
    align-items: center; 
    padding: 1rem;   
}
.my-image{
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}